In [1]:
import os
os.chdir("../../")

In [2]:
from db.crud.crud_manager import CRUD
from db.db import DatabaseManager
from db.crud.crud_model import InsertTableModel,ColumnModel

In [3]:
db=DatabaseManager("sqlite:///example.db")

In [4]:
crud=CRUD(db)

In [5]:
table_model=InsertTableModel(
    table_to_insert=[
        ColumnModel(column_name="id",data=8),
        ColumnModel(column_name="name",data="Camila Cifarelli"),
        ColumnModel(column_name="age",data=22),
        ColumnModel(column_name="height",data=1.72)
    ]
)

In [6]:
crud.create_record(table_name="test_table",
                   data=table_model)

2024-09-24 20:21:57,442 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 20:21:57,443 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("test_table")
2024-09-24 20:21:57,444 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,446 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-24 20:21:57,447 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-24 20:21:57,449 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("test_table")
2024-09-24 20:21:57,450 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,451 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("test_table")
2024-09-24 20:21:57,453 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,454 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-24 20:21:57,455 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-24 20:21:57,458 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-24 20:21:57,459 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,461 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-24 20:21:57,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,463 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-24 20:21:57,463 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,465 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-24 20:21:57,466 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,467 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-24 20:21:57,468 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,469 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-24 20:21:57,470 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 20:21:57,472 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-24 20:21:57,473 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-24 20:21:57,476 INFO sqlalchemy.engine.Engine ROLLBACK
2024-09-24 20:21:57,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 20:21:57,481 INFO sqlalchemy.engine.Engine INSERT INTO test_table (id, name, age, height) VALUES (?, ?, ?, ?)
2024-09-24 20:21:57,482 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (8, 'Camila Cifarelli', 22, 1.72)
2024-09-24 20:21:57,484 INFO sqlalchemy.engine.Engine COMMIT

"Record added to 'test_table'!"

In [8]:
crud.read_record(table_name="test_table",
                 filters=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=2)
]))

2024-09-24 20:26:06,565 INFO sqlalchemy.engine.Engine SELECT test_table.id AS test_table_id, test_table.name AS test_table_name, test_table.age AS test_table_age, test_table.height AS test_table_height
FROM test_table
WHERE test_table.id = ?
2024-09-24 20:26:06,566 INFO sqlalchemy.engine.Engine [cached since 2.793s ago] (2,)

QueryTableModel(table_query=[ColumnModel(column_name='id', data=2), ColumnModel(column_name='name', data='Tomas Navarro'), ColumnModel(column_name='age', data=29), ColumnModel(column_name='height', data=1.7)])

In [5]:
crud.update_record(table_name="test_table",
                   filters=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=3)]),
                    data=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=4)])
)

2024-09-22 22:30:02,661 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:30:02,662 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("test_table")
2024-09-22 22:30:02,663 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,665 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,666 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,668 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("test_table")
2024-09-22 22:30:02,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,670 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("test_table")
2024-09-22 22:30:02,671 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,672 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,673 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,676 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:30:02,676 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,679 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:30:02,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,681 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:30:02,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,683 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:30:02,684 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,685 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:30:02,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,687 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:30:02,687 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,688 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,689 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,692 INFO sqlalchemy.engine.Engine ROLLBACK
2024-09-22 22:30:02,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:30:02,697 INFO sqlalchemy.engine.Engine UPDATE test_table SET id=? WHERE test_table.id = ?
2024-09-22 22:30:02,698 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (4, 3)
2024-09-22 22:30:02,717 INFO sqlalchemy.engine.Engine COMMIT

"Record(s) updated in 'test_table'!"

In [6]:
crud.delete_record(table_name="test_table",
                   filters=InsertTableModel(
                       table_to_insert=[
                           ColumnModel(column_name="name",data="Camila Cifarelli")
                       ]
                   ))

2024-09-24 20:25:25,878 INFO sqlalchemy.engine.Engine DELETE FROM test_table WHERE test_table.name = ?
2024-09-24 20:25:25,880 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ('Camila Cifarelli',)
2024-09-24 20:25:25,898 INFO sqlalchemy.engine.Engine COMMIT

"Record(s) deleted from 'test_table'!"