In [1]:
import os
os.chdir("../../")

In [2]:
from db.crud.crud_manager import CRUD
from db.db import DatabaseManager
from db.crud.crud_model import InsertTableModel,ColumnModel

In [3]:
db=DatabaseManager("sqlite:///example.db")

In [4]:
crud=CRUD(db)

In [5]:
table_model=InsertTableModel(
    table_to_insert=[
        ColumnModel(column_name="id",data=3),
        ColumnModel(column_name="name",data="Tomas"),
        ColumnModel(column_name="age",data=29),
        ColumnModel(column_name="height",data=1.70)
    ]
)

In [6]:
crud.create_record(table_name="test_table",
                   data=table_model)

2024-09-22 21:36:40,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 21:36:40,462 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("test_table")
2024-09-22 21:36:40,463 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,465 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 21:36:40,466 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 21:36:40,468 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("test_table")
2024-09-22 21:36:40,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,469 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("test_table")
2024-09-22 21:36:40,470 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,471 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 21:36:40,472 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 21:36:40,475 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 21:36:40,476 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,477 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 21:36:40,478 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,479 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 21:36:40,480 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,481 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 21:36:40,482 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,484 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 21:36:40,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,485 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 21:36:40,486 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 21:36:40,487 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 21:36:40,488 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 21:36:40,494 INFO sqlalchemy.engine.Engine ROLLBACK
2024-09-22 21:36:40,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 21:36:40,499 INFO sqlalchemy.engine.Engine INSERT INTO test_table (id, name, age, height) VALUES (?, ?, ?, ?)
2024-09-22 21:36:40,500 INFO sqlalchemy.engine.Engine [generated in 0.00125s] (3, 'Tomas', 29, 1.7)
2024-09-22 21:36:40,503 INFO sqlalchemy.engine.Engine COMMIT

"Record added to 'test_table'!"

In [8]:
crud.read_record(table_name="test_table",
                 filters=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=3)
]))

2024-09-22 21:38:59,692 INFO sqlalchemy.engine.Engine SELECT test_table.id AS test_table_id, test_table.name AS test_table_name, test_table.age AS test_table_age, test_table.height AS test_table_height
FROM test_table
WHERE test_table.id = ?
2024-09-22 21:38:59,696 INFO sqlalchemy.engine.Engine [cached since 35s ago] (3,)

QueryTableModel(table_query=[ColumnModel(column_name='id', data=3), ColumnModel(column_name='name', data='Tomas'), ColumnModel(column_name='age', data=29), ColumnModel(column_name='height', data=1.7)])

In [5]:
crud.update_record(table_name="test_table",
                   filters=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=3)]),
                    data=InsertTableModel(table_to_insert=[
                    ColumnModel(column_name="id",data=4)])
)

2024-09-22 22:30:02,661 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:30:02,662 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("test_table")
2024-09-22 22:30:02,663 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,665 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,666 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,668 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("test_table")
2024-09-22 22:30:02,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,670 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("test_table")
2024-09-22 22:30:02,671 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,672 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,673 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,676 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:30:02,676 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,679 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:30:02,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,681 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:30:02,681 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,683 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:30:02,684 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,685 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:30:02,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,687 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:30:02,687 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:30:02,688 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:30:02,689 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:30:02,692 INFO sqlalchemy.engine.Engine ROLLBACK
2024-09-22 22:30:02,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:30:02,697 INFO sqlalchemy.engine.Engine UPDATE test_table SET id=? WHERE test_table.id = ?
2024-09-22 22:30:02,698 INFO sqlalchemy.engine.Engine [generated in 0.00117s] (4, 3)
2024-09-22 22:30:02,717 INFO sqlalchemy.engine.Engine COMMIT

"Record(s) updated in 'test_table'!"

In [5]:
crud.delete_record(table_name="test_table",
                   filters=InsertTableModel(
                       table_to_insert=[
                           ColumnModel(column_name="id",data=1)
                       ]
                   ))

2024-09-22 22:33:15,901 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:33:15,902 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("test_table")
2024-09-22 22:33:15,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,905 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:33:15,906 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:33:15,908 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("test_table")
2024-09-22 22:33:15,909 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,910 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("test_table")
2024-09-22 22:33:15,910 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,911 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:33:15,912 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:33:15,915 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:33:15,916 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,918 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:33:15,918 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,920 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:33:15,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,922 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("test_table")
2024-09-22 22:33:15,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,924 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("test_table")
2024-09-22 22:33:15,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,926 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("test_table")
2024-09-22 22:33:15,927 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 22:33:15,929 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-22 22:33:15,930 INFO sqlalchemy.engine.Engine [raw sql] ('test_table',)
2024-09-22 22:33:15,933 INFO sqlalchemy.engine.Engine ROLLBACK
2024-09-22 22:33:15,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 22:33:15,938 INFO sqlalchemy.engine.Engine DELETE FROM test_table WHERE test_table.id = ?
2024-09-22 22:33:15,938 INFO sqlalchemy.engine.Engine [generated in 0.00074s] (1,)
2024-09-22 22:33:15,942 INFO sqlalchemy.engine.Engine COMMIT

"Record(s) deleted from 'test_table'!"